*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#container{
    display: flex;
    /* background: red; */
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    /* flex: 1; */
    min-width:250px;
    background: orange;
    padding: 40px
}
